@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
    <div class="agileits-top">
        <div>
            Password reset link has been sent to your email .please check inbox
            <a href="https://mail.google.com/mail/u/0/">Click here</a>
        </div>

    </div>

</div>