@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class=" agileits-top">
    <form asp-controller="Account" asp-action="ForgetPassword" method="post">
            <input class="text email" type="email" asp-for="Email" palceholder="Email" required="" />
            <input type="submit" value="Forget Password" />
          
    </form>
    </div>
</div>

